<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISM Admin - All Orders</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="header-container">
            <h2><a href="/">ISM Admin</a></h2>
            <div class="toggle-btn">
                <a href="/create_sale" class="bg-green-500 text-white py-2 px-4 rounded-full ml-2">Create Sale +</a>
                <a href="/admin/countries/" class="bg-green-500 text-white py-2 px-4 rounded-full ml-2">Regionwise</a>
                <a href="/admin/view_orders/" class="bg-green-500 text-white py-2 px-4 rounded-full ml-2">View Orders</a>
                <a href="/admin/deleted_orders/" class="bg-green-500 text-white py-2 px-4 rounded-full ml-2">Deleted Orders</a>
                <a href="/time" class="bg-green-500 text-white py-2 px-4 rounded-full ml-2">World Clock 🌍</a>
                <button class="bg-blue-500 text-white py-2 px-4 rounded-full" onclick="toggleCurrency()">Toggle Currency (USD/INR)</button>
            </div>
        </div>
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Product Name</th>
                        <th>Supplier</th>
                        <th>Sale Price</th>
                        <th>Amazon Commission</th>
                        <th>Forex Fees</th>
                        <th>Quantity</th>
                        <th>Buy Price</th>
                        <th>Estimated Delivery</th>
                        <th>Sale Date</th> <!-- Ensuring this column is correctly placed -->
                        <th>Delivery Status</th>
                        <th>Buyer Name</th>
                        <th>Buyer Address</th>
                        <th>Region</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sales %}
                    <tr>
                        <td class="border px-4 py-2">{{ (page - 1) * per_page + loop.index }}</td>
                        <td class="border px-4 py-2">{{ sale.product_name }}</td>
                        <td class="border px-4 py-2">{{ sale.supplier_name }}</td>
                        <td class="border px-4 py-2 sale-price" data-usd="{{ sale.sale_price }}">${{ sale.sale_price }}</td>
                        <td class="border px-4 py-2 commission-value" data-usd="{{ (sale.sale_price * sale.amazon_commission / 100) | round(2) }}">${{ (sale.sale_price * sale.amazon_commission / 100) | round(2) }}</td>
                        <td class="border px-4 py-2">{{ sale.forex_fees }}</td>
                        <td class="border px-4 py-2">{{ sale.quantity }}</td>
                        <td class="border px-4 py-2 buy-price" data-usd="{{ sale.buy_price * (1 + 0.0118 * (sale.forex_fees or 0)) }}">
                            <a href="{{ sale.payment_link }}" target="_blank" class="light-purple">${{ (sale.buy_price * (1 + 0.0118 * (sale.forex_fees or 0))) | round(2)}}</a>
                        </td>
                        <td class="border px-4 py-2">{{ sale.estimated_delivery }}</td>
                        <td class="border px-4 py-2">{{ sale.sale_date }}</td> <!-- Adding sale date column correctly -->
                        <td class="border px-4 py-2">
                            <span class="delivery-indicator {{ sale.delivery_status | lower }}"></span>
                            <span class="delivery-status-text">{{ sale.delivery_status }}</span>
                            <form method="post" action="/update_status/{{ sale.id }}">
                                <input type="hidden" name="redirect_url" value="{{ request.url.path }}?{{ request.query_string.decode('utf-8') }}">
                                <select name="delivery_status" class="form-control status-dropdown bg-transparent" onchange="this.form.submit()">
                                    <option class="bg-white text-black" value="Received" {% if sale.delivery_status == "Received" %}selected{% endif %}>Received</option>
                                    <option class="bg-white text-black" value="Shipped" {% if sale.delivery_status == "Shipped" %}selected{% endif %}>Shipped</option>
                                    <option class="bg-white text-black" value="Delivered" {% if sale.delivery_status == "Delivered" %}selected{% endif %}>Delivered</option>
                                    <option class="bg-white text-black" value="Cancelled" {% if sale.delivery_status == "Cancelled" %}selected{% endif %}>Cancelled</option>
                                    <option class="bg-white text-black" value="Returned" {% if sale.delivery_status == "Returned" %}selected{% endif %}>Returned</option>
                                </select>
                            </form>
                        </td>                        
                        <td class="border px-2 py-1">{{ sale.buyer_name }}</td>
                        <td class="border px-2 py-1">{{ sale.buyer_address }}</td>
                        <td class="border px-4 py-2">{{ sale.region.region_name }}</td>
                        <td class="border px-2 py-1 flex flex-col space-y-1">
                            <a href="/edit/{{ sale.id }}" class="button"><i class="fas fa-edit"></i> Edit</a>
                            <a href="/orderdetails/{{ sale.id }}" class="button"><i class="fas fa-info-circle"></i> Details</a>
                            <form method="post" action="/delete/{{ sale.id }}" style="display:inline;">
                                <button type="submit" class="button"><i class="fas fa-trash"></i> Delete</button>
                            </form>
                            <a target="_blank" href="{{ sale.manage_link }}" class="button"><i class="fas fa-cogs"></i> Manage</a>
                            {% if sale.amazon_link %}
                            <a target="_blank" href="{{ sale.amazon_link }}" class="button"><i class="fas fa-shopping-cart"></i> Amazon</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation" class="pagination">
            <ul class="pagination">
                {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link bg-blue-500 text-white py-2 px-4 rounded-full" href="?page={{ page-1 }}&per_page={{ per_page }}">Previous</a>
                </li>
                {% endif %}
                
                {% for p in range(1, total_pages + 1) %}
                <li class="page-item {% if p == page %}active{% endif %}">
                    <a class="page-link bg-blue-500 text-white py-2 px-4 rounded-full {% if p == page %}bg-blue-700{% endif %}" href="?page={{ p }}&per_page={{ per_page }}">{{ p }}</a>
                </li>
                {% endfor %}
                
                {% if page < total_pages %}
                <li class="page-item">
                    <a class="page-link bg-blue-500 text-white py-2 px-4 rounded-full" href="?page={{ page+1 }}&per_page={{ per_page }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <script src="/static/js/currency-util.js"></script>
    <script src="/static/js/admin.js"></script>
</body>
</html>
