<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-DyZ88mC6Up2lf0nvKq2dBiw4Ma1UcxBB4pupjCia1nqR2GujQ0fP5R40tAK1a9GQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/login.css"> <!-- External CSS -->
</head>
<body class="bg-gray-900 font-roboto">
    <div class="login-container mt-20 flex items-center justify-center">
        <div class="card bg-gray-800 text-white p-6 rounded-lg shadow-lg w-full max-w-sm">
            <div class="card-header bg-blue-900 text-center text-2xl font-bold py-4 rounded">
                Admin Login
            </div>
            <div class="card-body">
                <form method="post" action="/login">
                    <div class="form-group mb-4">
                        <label for="username" class="block font-bold mb-2 text-white">Username</label>
                        <input type="text" class="form-control w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline rounded" id="username" name="username" placeholder="Enter username" required>
                    </div>
                    <div class="form-group mb-4">
                        <label for="password" class="block font-bold mb-2 text-white">Password</label>
                        <div class="relative">
                            <input type="password" class="form-control w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline rounded" id="password" name="password" placeholder="Enter password" required>
                            <span class="input-group-text absolute right-0 top-0 mt-2 mr-3 cursor-pointer" onclick="togglePasswordVisibility()">
                                <i class="fa fa-eye text-gray-400" id="togglePasswordIcon"></i>
                            </span>
                        </div>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded w-full btn-custom">Login</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/js/login.js"></script>
</body>
</html>
